USE [master]
GO
/****** Object:  Database [RP_Cocos]    Script Date: 1/09/2021 11:21:56 a. m. ******/
CREATE DATABASE [RP_Cocos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RP_Cocos', FILENAME = N'c:\Program Files\Microsoft SQL Server2012\MSSQL11.MSSQLSERVER\MSSQL\DATA\RP_Cocos.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RP_Cocos_log', FILENAME = N'c:\Program Files\Microsoft SQL Server2012\MSSQL11.MSSQLSERVER\MSSQL\DATA\RP_Cocos_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RP_Cocos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RP_Cocos]
GO
/****** Object:  User [Nicolas]    Script Date: 1/09/2021 11:21:56 a. m. ******/
CREATE USER [Nicolas] FOR LOGIN [Nicolas] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Nicolas]
GO
/****** Object:  Table [dbo].[Cita_Medica]    Script Date: 1/09/2021 11:21:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita_Medica](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Paciente] [decimal](18, 0) NOT NULL,
	[Consultorio] [decimal](18, 0) NOT NULL,
	[Diagnostico] [nvarchar](max) NULL,
	[Alta] [bit] NOT NULL,
	[Virus] [bit] NOT NULL,
	[Fecha_Prueba] [date] NULL,
 CONSTRAINT [PK_Cita_Medica] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Consultorio]    Script Date: 1/09/2021 11:21:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultorio](
	[Id] [decimal](18, 0) NOT NULL,
	[Medico] [nvarchar](max) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Consultorio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estado_Paciente]    Script Date: 1/09/2021 11:21:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Paciente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Estado_Paciente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 1/09/2021 11:21:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[Identificacion] [decimal](18, 0) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Edad] [decimal](18, 0) NOT NULL,
	[Sexo] [bit] NOT NULL,
	[Triage] [int] NOT NULL,
	[Sintomas] [nvarchar](max) NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prueba]    Script Date: 1/09/2021 11:21:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prueba](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cita_Medica] [int] NOT NULL,
	[Resultado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Prueba] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Triage]    Script Date: 1/09/2021 11:21:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Triage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Urgencia] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Triage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Cita_Medica]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Medica_Consultorio] FOREIGN KEY([Consultorio])
REFERENCES [dbo].[Consultorio] ([Id])
GO
ALTER TABLE [dbo].[Cita_Medica] CHECK CONSTRAINT [FK_Cita_Medica_Consultorio]
GO
ALTER TABLE [dbo].[Cita_Medica]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Medica_Paciente] FOREIGN KEY([Paciente])
REFERENCES [dbo].[Paciente] ([Identificacion])
GO
ALTER TABLE [dbo].[Cita_Medica] CHECK CONSTRAINT [FK_Cita_Medica_Paciente]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Estado_Paciente] FOREIGN KEY([Estado])
REFERENCES [dbo].[Estado_Paciente] ([Id])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_Estado_Paciente]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Triage] FOREIGN KEY([Triage])
REFERENCES [dbo].[Triage] ([Id])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_Triage]
GO
ALTER TABLE [dbo].[Prueba]  WITH CHECK ADD  CONSTRAINT [FK_Prueba_Cita_Medica] FOREIGN KEY([Cita_Medica])
REFERENCES [dbo].[Cita_Medica] ([Id])
GO
ALTER TABLE [dbo].[Prueba] CHECK CONSTRAINT [FK_Prueba_Cita_Medica]
GO
USE [master]
GO
