
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error analizando las helices del adn, vuelva a intentarlo.</h2>
<a asp-action="Index" asp-controller="Cita_Medica">Volver a Citas Medica</a>

